<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
                id="cordova-plugin-android-project-configuration"
                version="0.0.1">

    <name>cordova-plugin-android-project-configuration</name>
    <description>cordova-plugin-android-project-configuration</description>
    <license>Proprietary</license>

    <engines>
		<engine name="cordova" version=">=3.0.0" />
    </engines>

	<platform name="android">		
		<!-- *** Android X Libraries *** -->
		<framework src="androidx.core:core:1.6.+" />
<!-- 		<framework src="androidx.annotation:annotation:1.1.0" />
		<framework src="androidx.browser:browser:1.2.0" />
		<framework src="androidx.media:media:1.1.0" />
		<framework src="androidx.collection:collection:1.1.0" />
		<framework src="androidx.appcompat:appcompat:1.1.0" />
		<framework src="androidx.fragment:fragment:1.2.0" />       
		<framework src="androidx.viewpager:viewpager:1.0.0" />
		<framework src="androidx.recyclerview:recyclerview:1.1.0" />
		<framework src="androidx.recyclerview:recyclerview-selection:1.0.0" />
		<framework src="androidx.loader:loader:1.1.0" /> -->
		
		<framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
	</platform>
</plugin>
